@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  background-color: $green-900;

  &__top{
    background-color: $dark-800;
    color: $white;
    font-family: 'OpenSans';
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 3%;    
  }

  &__burger {
    background-image: url(../images/icons/burger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 50px;  
  }

  &__list {
    display: flex;
    align-items: center;
    padding: 12px 0;

    &--mobile {
      display: none;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      .header__item {
        margin: 0;

        &--delivery {
          margin-right: 12px;
          margin-left: auto;
        }
      }
    }
  }

  &__item {
    margin-right: 24px;
    text-transform: uppercase;
    transition: opacity .5s;
    display: flex;
    align-items: center;

    &:nth-child(5) {
      margin-right: 0;
    }

    &:hover {
      opacity: 0.5;
    }

    &--delivery {
      margin-right: 40px;
      &::before {
        content: url(../images/icons/delivery.svg);
        margin-right: 12px;
      }
    }

    &--phone {
      margin-right: auto;
      text-align: center;

      &::before {
        content: url(../images/icons/phone.svg);
        margin-right: 12px;
      }
    }
  }  
  
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
  }

  &__form {
    display: flex;
    position: relative;

    &::before {
      content: url(../images/icons/search.svg);
      position: absolute;
      top: 16px;
      left: 12px;
      z-index: 1;
    }
  } 

  &__input {
    width: 420px;
    border-radius: 6px 0 0 6px;
    padding: 15px 15px 15px 51px;
    color: $dark-800;
    position: relative;
    border: 1px solid transparent;

    &::placeholder {
      color: $dark-800;
      font-family: 'OpenSans';
      font-weight: 400;
    }

    &:focus {
      border-color: $green-900;
      box-shadow: 0 0 0 3px $green-200;
      outline: transparent;
    }
  }

  &__btn--search {
    background-color: $dark-800;
    padding: 15px 52px;
    color: $white;
    text-transform: uppercase;
    border-radius: 0 6px 6px 0;
    transition: background-color .5s;

    &:hover {
      background-color: $dark-500;
    }

    &:active {
      background-color: $dark-800;
      color: rgba($white, 0.5);
    }

    &:focus {
      outline: transparent;
      box-shadow: 0px 0px 0px 4px rgba($green-100, 0.5);
    }
  }

  &__icon {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    transition: background-color .5s;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &--user {
      background-image: url(../images/icons/user.svg);
    }

    &--favourite {
      background-image: url(../images/icons/heart.svg);
    }

    &--search {
      background-image: url(../images/icons/header-search.svg);
      display: none;
    }

    &--cart {
      background-image: url(../images/icons/cart.svg);
    }

    &:hover {
      background-color: rgba($green-200, 0.2);
    }
  }

  &__cart {
    width: 44px;
    height: 44px;
  }
  
  &__number {
    position: absolute;
    padding: 0;
    background-color: $white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: block;
    text-align: center;
    color: $red-900;
    font-size: 10px;
    line-height: 1.6;
    font-family: 'OpenSans';
    font-weight: 600;
    top: 4px;
    left: 2px;
  }
}

.navigation {
  background-color: $white;
  position: absolute;
  z-index: 5;
  height: 100vh;
  width: fit-content;
  overflow: scroll;
  display: none;  

  &--active {
    display: block;
  }

  &__close {
    background-image: url(../images/icons/burger-close.svg);
    position: absolute;
    width: 18px;
    height: 18px;
    right: 26px;
    top: 47px;
  }

  &__logo {
    // margin-right: 86px;
    img {

      padding: 26px 0 26px 15px;
    }
  }

  &__login {
    background-color: $green-900;
    display: flex;
  }

  &__item {
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }
  

  &__link {
    padding: 0 12px;
    margin: 15px 0;
    display: block;
    color: $white;
    font-size: 18px;

    &--login {
      padding-left: 55px;
      position: relative;
      border-right: 1px solid $white;

      &::before {
        content: url(../images/icons/user.svg);
        position: absolute;
        left: 13px;
        top: -4px;
      }
    }
  }

  &__catalog {
    padding: 15px 85px 15px 55px;
    display: block;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    border-bottom: 1px solid $silver-100;
    margin-bottom: 24px;
    cursor: pointer;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.5;
    }

    &::before {
      position: absolute;
      content: url(../images/icons/burger-catalog.svg);
      left: 13px;
      top: 18px;
    }
  }

  &__contact {
    padding-left: 55px;
    margin-bottom: 18px;
    display: block;
    font-size: 18px;
    max-width: 240px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 15px;
    }

    &--phone::before {
      content: url(../images/icons/burger-phone.svg);
    }

    &--location::before {
      content: url(../images/icons/burger-location.svg);
      top: 7px;
    }
  }

  &__menu {
    border-top: 1px solid $silver-100;
    padding: 24px 15px 9px 15px;
  }

  &__nav {
    font-size: 18px;
    display: block;
    margin-bottom: 15px;
    
  }
}

.slider {

  &__inner {
    // display: none;
    display: flex;
    position: relative;
    align-items: center;

    &--responsive {
      display: none;
      position: relative;
    }
  }
  
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
  }

  &__arrow {
    position: absolute;
    background-color: rgba($white, 0.8);
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s, background-color 0.5s;

    path {
      transition: fill 0.5s;
    }

    &--prev {      
      left: 60px;
      z-index: 2;
      transform: rotate(180deg);
    }
  
    &--next {
      right: 60px;
    }

    &:hover {
      background-color: $green-200;
    }

    &:hover path,
    &:active path {
      fill: $green-900;
    }

    &:focus {
      outline: transparent;
      box-shadow: 0 0 0 3px rgba($green-900, 0.5);
    }
  }

  &__more {
    position: absolute;
    background-color: rgba($white, 0.8);
    border-radius: 6px;
    border: 1px solid $silver-600;
    background-repeat: no-repeat;
    background-position: center center;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s, background-color 0.5s;
    z-index: 2;
    top: -108px;
    right: 0;

    path {
      transition: fill 0.5s;
    }

    &--prev {
      right: 105px;
      top: -108px;
      transform: rotate(180deg);
    }

    &--next {
      right: 15px;
    }

    &:hover {
      background-color: $green-200;
    }

    &:hover path,
    &:active path {
      fill: $green-900;
    }

    &:focus {
      outline: transparent;
      box-shadow: 0 0 0 3px rgba($green-900, 0.5);
    }
  }

  &__content {
    width: 100%;
    background-color: rgba($white, 0.8);
    padding: 24px;
    margin-top: 11%;
    border-radius: 6px;
  }

  &__title {
    font-family: 'Ruda';
    font-weight: 700;
    font-size: 60px;
    line-height: 1.3;
    color: $dark-500;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    
    span {
      color: $red-900;
    }
  }

  &__text {
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 16px;
    color: $dark-500;
    margin-bottom: 32px;
  }

  &__link {
    padding: 14px 24px;
    background-color: $green-900;
    border-radius: 6px;
    color: $white;
    letter-spacing: 3%;
    transition: background-color 0.5s, box-shadow .5s;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;

    &:hover {
      background-color: $btn-hover;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      outline: transparent;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba($white, 0.5);
      background-color: $green-900;
    }
  }
  
}

.slick-dots {
  list-style:none;
  display: flex;
  justify-content: center;
  position: absolute;
  // top: 0;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);

  li+li {
    margin-left: 15px;
  }

  button {
    font-size: 0;
    border: none;
    padding: 0;
    width: 10px;
    height: 10px;
    background: $white;
    border: 2px solid $silver-600;
    border-radius: 50%;
  }
  .slick-active button {
    background-color: $green-900;
    border-color: $green-900;
  }
}

.catalog {
  position: relative;
  // &:hover .catalog__list {
  //   display: block;
  // }

  &__list {
  max-width: 240px;
  width: 100%;
  background-color: $white;
  position: absolute;
  transform: translateX(-999%);
  // top: 50%;
  // left: 50%;
  z-index: 1;
  // display: none;
  transition: display 0.5s, transform 0.5s;


  &--active {
    display: block;
    transform: translateX(0%);
  }
  }


  &__link {
    display: block;
    font-size: 16px;
    line-height: 1.2;
    color: $dark-900;
    padding: 15px 0 15px 24px;
    border-left: 3px solid transparent;
    transition: color 0.3s, border-color 0.3s;

    &:hover {
      color: $green-900;
      border-color: $green-900;
    }
  }
  
  &__item {

    &:not(:last-child){
      border-bottom: 1px solid $silver-600;
    }
  }

  &__btn {
    background-color: $white;
    max-width: 240px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid transparent;
    color: $green-900;
    padding: 15px 38px 15px 61px;
    margin-right: 30px;
    position: relative;
    transition: background-color .5s;

    &::before {
      content: url('../images/icons/nav_icon.svg');
      position: absolute;
      left: 17px;
    }

    &::after {
      content: url('../images/icons/arrow.svg');
      position: absolute;
      right: 18px;
      top: 13px;
      transition: transform .5s;
    }

    &--active {
      background-color: $green-200;
      border-radius: 6px 6px 0px 0px;
      &::after {
        transform: rotate(180deg) translateY(-30%);
      }
    }
  }  
}

.cart {
  height: 100vh;
  max-width: 480px;
  width: 100%;
  background-color: $silver-100;
  color: $dark-900;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
  font-family: 'OpenSans';
  font-weight: 400;
  letter-spacing: 3%;   
  line-height: 1.2; 
  // overflow: scroll;
  
  // transform: translateX(300%);
  &--active {
    // transform: translateX(0);
    // display: block;
    display: flex;
    flex-direction: column;
    position: fixed;
  }

  &__top {
    position: relative;
    background-color: $white;
    padding: 20px 0 12px 24px;
  }

  &__title {
    font-size: 24px; 
    margin-bottom: 12px; 

    &--total {
      margin-bottom: 0;
    }
  }

  &__content {
    padding: 12px;
    flex-grow: 1;
    overflow-y: scroll;
  }

  &__close {
    position: absolute;
    right: 26px;
    top: 33px;
    background-image: url(../images/icons/close.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.5;
    }

  }

  &__item {
    border: 1px solid $silver-600;
    display: flex;
    // justify-content: space-between;
    width: 100%;
    padding: 12px;
    align-items: center;
    border-radius: 6px;
    position: relative;
    margin-bottom: 12px;
    background-color: $white;
    transition: border-color 0.5s;

    &--none {
      display: none;
    }

    &:hover {
      border-color: $green-900;
    }
  }

  &__img {
    height: 60px;
  }

  &__info {
    flex-grow: 1;
    margin-right: 12px;
    width: 100%;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 600;    
  }

  &__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
  }

  &__lots {
    display: flex;
    align-self: flex-end;
    align-items: end;
    // margin-left: auto;
  }

  &__count {
    background-color: $green-900;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: background-color 0.5s, box-shadow 0.5s, opacity 0.5s;

    &:hover {
      background-color: $btn-hover;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      outline: transparent;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba($white, 0.5);
      background-color: $green-900;
      &::after,
      &::before {
        opacity: 0.5;
      }
    }

    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 16px;
      background-color: $white;
      border-radius: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &--plus {
      margin-right: 12px;
    
      &::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 16px;
        background-color: $white;
        border-radius: 2px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &__number {
    height: 24px;
    width: 36px;
    background-color: $green-100;
    text-align: center;
    font-size: 16px;
  }

  &__total {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
  }

  &__delete {
    background-image: url(../images/icons/delete.svg);
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
  }

  &__empty {
    display: block;
    margin-top: auto;
    font-size: 30px;
    text-align: center;
  }

  &__link {
    max-width: 90px;
    width: 100%;
  }

  &__whole {
    background-color: $white;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__order {
    padding: 23px;
    background-color: $green-900;
    font-size: 18px;
    color: $white;
    transition: background-color 0.5s, box-shadow 0.5s, opacity 0.5s;

    &:hover {
      background-color: $btn-hover;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      outline: transparent;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba($white, 0.5);
      background-color: $green-900;
    }
  }
}

.about {
  padding: 48px 0 29px;
  background-color: $silver-100;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    font-family: 'OpenSans';
    font-weight: 600;
    color: $dark-900;
    font-size: 16px;
    margin-bottom: 6px;
    display: inline-block;
  }

  &__item {
    position: relative;
    margin-left: 74px;
    display: flex;
    max-width: 190px;
    width: 100%;
    flex-direction: column;
    position: relative;
    
    &::before {
      position: absolute;
      left: -74px;
    }

    &--delivery::before {
      content: url('../images/icons/scooter.svg');
      margin-right: 24px;      
    }
    &--return::before {
      content: url('../images/icons/return.svg');
      margin-right: 24px;
    }
    &--help::before {
      content: url('../images/icons/hours.svg');
      margin-right: 24px;
    }
  }
}

.products {
  padding-top: 72px;

  &__title {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }

  &__item {
    font-family: 'OpenSans';
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 3%;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__btn {
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: border-color .5s;

    &:active,
    &:hover {
      border-color: $green-200;
    }
  }  

  &__more {
      display: block;
      margin: 0 auto;
      margin-bottom: 84px;
      padding: 12px 24px;
      color: $green-900;
      border: 1px solid $green-900;
      border-radius: 6px;
      transition: background-color .5s, opacity 0.5s, box-shadow 0.5s;

      &:hover {
        background-color: $green-200;
      }
    
      &:focus {
        box-shadow: 0 0 0 3px rgba($green-200, 0.5);
        outline: transparent;
      }

      &:active {
        background-color: $white;
        box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
        opacity: 0.5;
      }

      &--promo {
        background-color: $green-900;
        color: $white;
        border-color: transparent;
        margin-bottom: 0;
        &:hover {
          background-color: $btn-hover;
        }
    
        &:focus {
          box-shadow: 0 0 0 3px $green-200;
          outline: transparent;
        }
    
        &:active {
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          color: rgba($white, 0.5);
          background-color: $green-900;
          opacity: 1;
        }
      }
    
  }  
}

.cards {  
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(2, 410px);
  // grid-template-rows: 410px;
  grid-gap: 30px;

  &__info {
    text-transform: uppercase;
    color: $white;
    font-size: 10px;
    padding: 0 6px;
    border-radius: 6px;
    font-family: 'OpenSans';
    font-weight: 700;
    position: absolute;
    left: 10px;
    top: 10px;

    &--new {
      background-color: $green-900;
    }

    &--sale {
      background-color: $red-900;
      &__bottom {
        background-color: $red-900;
        top: 29px;
      }
    }

    &--hit {
      background-color: $orange-900;
    }
  }

  &__item {
    padding: 12px 12px;
    border: 1px solid $silver-600;
    border-radius: 6px;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: border-color 0.5s;

    &--list {
      width: 100%;
      flex-direction: row;
      height: fit-content;
      padding-left: 0;
      height: 100%;

      img { 
        max-width: 200px;
        margin-right: 0;
      }

      .cards__favorite {
        position: absolute;
        right: 12px;
        top: 65px;
      }

      .cards__price {
        margin-right: auto;
      }
    }

    &:hover {
      border-color: $green-900;
    }
  }
  
  &__favorite {
    margin-left: auto;
    display: block;
    max-width: 44px;

    &--img:hover {
      margin-left: 1;
    }

    path {
      transition: fill .5s;
    }

    &:hover {
      path {
        fill: $yellow-900;
      }
    } 
  }

  &__img {
    margin-bottom: 18px;

    &--catalog {
      margin: 0;
    }
  }

  &__name {
    color: $dark-900;
    font-family: 'OpenSans';
    font-weight: 600;
    // margin-bottom: auto;
    margin-bottom: 50px;
  }

  &__btn {
    background-color: $green-900;
    padding: 8px;
    border-radius: 6px;
    transition: background-color 0.5s, box-shadow 0.5s, opacity 0.5s;
    width: 32px;
    height: 32px;
    position: relative;

    &::after {
      content: url(../images/icons/cart-small.svg);
    }

    &:hover {
      background-color: $btn-hover;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      outline: transparent;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba($white, 0.5);
      background-color: $green-900;
      &::after {
        opacity: 0.5;
      }
    }
  } 

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    // margin-top: 50px;
    flex-grow: 1;
  }

  &__price {
    display: flex;
    flex-direction: column;


    &--transparent {
      display: none;
    }


    &--old {
      color: $silver-600;
      position: relative;
      font-size: 14px;
      font-weight: 400;
      
  
      &::before {
        content: '';
        position: absolute;
        border-bottom: 1px solid $silver-600;
        height: 1px;
        width: 100%;
        transform:rotate(-12deg);
        top: 9px;
      }
    }
  }

  &__numbers {
    &--none {
      display: none;
    }
  }

  &-control-active {
    border-bottom: 3px solid $green-200;
  }

  &__available {
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    flex-grow: 1;
    display: flex;
    align-items: end;
    margin-bottom: 5px;

    &--yes {
      color: $green-900;
    }

    &--ending {
      color: $red-900;
    }

    &--no {
      color: $silver-600;
    }
  }

  &__rating {
    font-weight: 700;
    display: flex;
    align-items: center;

    &::after {
      content: url(../images/icons/star.svg);
      margin-left: 5px;
    }
  }

  &__information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__goods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;
    width: 100%;

    &--list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__more {
    position: relative;

    .slick-slide {
      padding: 0 15px;
    }
  }
}

.banners {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 30px;
  padding-bottom: 72px;

  &__item {
    padding: 76px 90px 76px 32px ;
    border-radius: 6px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'OpenSans';
    font-weight: 700;
    color: $dark-500;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--lg {
      color: $white;
      padding-right: 252px;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);

      a {
        border-color: $white;
      }
    }
  }

  &__text {
    font-size: 12px;
    line-height: 1;
    letter-spacing: 10%;
    margin-bottom: 18px;
  }

  &__title {
    font-family: 'Ruda';
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 12px;
    flex-grow: 1;
  }

  &__link {
    font-size: 14px;
    line-height: 1;
    border-bottom: 2px solid $dark-500;
    width: fit-content;
    padding-bottom: 6px;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.sales  {
  background-color: $silver-100;
  padding-bottom: 123px;
  padding-top: 21px;

  &__filters {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }

  &__filter {
    font-family: 'OpenSans';
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 3%;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__btn {
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: border-color .5s;

    &:active,
    &:hover {
      border-color: $green-200;
    }
  }

  &__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;
  }

  &__link {
    position: relative;
    border: 1px solid $silver-600;
    border-radius: 6px;
    padding: 12px;
    display: flex;
    background-color: $white;
    transition: border-color 0.5s;
    height: 100%;

    &:hover {
      border-color: $green-900;
    }
  }

  &__image {
    display: flex;
    align-items: center;
  }

  &__img {
    max-width: 100px;
    // height: 100px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    line-height: 1;
  }

  &__name {
    font-weight: 600;
  }

  &__available {
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    flex-grow: 1;
    display: flex;
    align-items: end;
    margin-bottom: 5px;

    &--yes {
      color: $green-900;
    }

    &--ending {
      color: $red-900;
    }

    &--no {
      color: $silver-600;
    }
  }

  &__cost {
    font-weight: 600;
    color: $dark-500;
    font-size: 20px;
    line-height: inherit;
    margin-right: 12px;

    &--older {
      flex-grow: 1;
    }

    &--old {
      color: $silver-600;
      font-size: 12px;
      line-height: inherit;
      position: relative;
      margin-right: auto;

      &::before{
        content: '';
        position: absolute;
        border-bottom: 1px solid $silver-600;
        height: 1px;
        width: 100%;
        transform: rotate(-12deg);
        bottom: 8px;
      }
    }
  }

  &__rating {
    font-weight: 700;
    display: flex;
    align-items: center;

    &::after {
      content: url(../images/icons/star.svg);
      margin-left: 5px;
    }
  }

  &-control-active {
    border-bottom: 3px solid $green-200;
  }
}

.brands {
  padding-top: 60px;
  padding-bottom: 72px;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    opacity: 0.5;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
    }
  }
}

.news {
  padding-bottom: 72px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__all {
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: $green-900;
    border-bottom: 2px solid $green-900;
    padding-bottom: 6px;
    transition: color 0.5s, border-color 0.5s;

    &:hover,
    &:active {
      color: $btn-hover;
      border-color: $btn-hover;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 350px;
    grid-gap: 30px;
    color: $dark-900;
  }

  &__item {
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 20px;
    border-radius: 6px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

    p {
      transition: color 0.5s;
    }

    &:hover p {
      color: $green-900;
    }
  }

  &__date {
    background-color: $white;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 18px 0 10px 0;
    max-width: 65px;
    border-radius: 0 0 6px 6px;
    margin-bottom: 50%;
    text-transform: uppercase;

    span {
      font-family: 'Ruda';
      font-weight: 600;
      font-size: 30px;
      line-height: 1;
      
    }
  }

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
  }
}

.footer {
  background-color: $dark-800;
  padding-top: 30px;
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 14px;
  color: $white;

  &__top {
    border-bottom: 1px solid rgba($white, 0.1);
    padding-bottom: 30px;
    margin-bottom: 0;
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  } 
  
  &__inner {
    display: flex;
  }

  &__form {
    max-width: 320px;
    width: 100%;
    margin-right: 100px;    

    label {
      display: inline-block;
      width: 100%;
      margin-bottom: 18px;
    }

    input {
      padding: 12px;
      border-radius: 6px 0 0 6px;
      max-width: 180px;
      width: 100%;      

      &:focus {
          // border-color: $green-900;
          box-shadow: 0 0 0 3px $green-200;
          outline: transparent;
      }

      &::placeholder {
        color: $input-color;
        line-height: 1;
      }
    }

    button {
      text-transform: uppercase;
      background-color: $green-900;
      padding: 12px 10px 12px 14px;
      border-radius: 0 6px 6px 0;
      transition: background-color .5s;
      margin-left: -4px;    

      &:hover {
        background-color: $btn-hover;
      }

      &:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: rgba($white, 0.5);
        background-color: $green-900;
      }

      &:focus {
        box-shadow: 0 0 0 3px $green-200;
        outline: transparent;
      }
    }
  } 

  &__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 74px;
  }

  // &__item {
  //   // margin-bottom: 16px;
  //   // margin-right: 74px;
  // }

  &__link {
    transition: opacity .5s;

    &:hover {
      opacity: 0.5;
    }

    &--contacts {
      margin-bottom: 16px;
    }
  }
  
  &__copy {
    padding: 24px 0;
    margin-right: auto;
  }

  &__card:not(:last-child) {
    margin-right: 24px;
  }

  &__cards {
    display: flex;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  margin-left: auto;

  &__list {
    display: flex;

    &--burger {
      margin-bottom: 24px;
      padding-left: 15px;
    }
  }

  &__item {
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.5;
    }

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

}

.breadcrumbs {
  background-color: $silver-100;
  padding: 24px 0;

  &__list {
    color: $dark-500;
    display: flex;
  }

  &__item:not(:last-child)::after {    
      content: url(../images/icons/crumb-arrow.svg); 
      margin-right: 6px;
      margin-left: 4px;    
  }
}

.catalogue {
  padding: 48px 0;

  &__title {
    margin-bottom: 48px;
  }

  &__inner {
    display: flex;
  }
}

.filters {
  margin-right: 30px;
  

  &__close {
    background-image: url(../images/icons/close.svg);
    width: 18px;
    height: 18px;
    background-size: cover;
    position: absolute;
    display: none;
    right: 32px;
    top: 29px;
  }

  &--active {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 99;
    padding: 76px 16px 16px 2px;
    background-color: $white;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: scroll;
   

    .filters__close {
      display: block;
    }
  }

  &__btn {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Ruda';
    padding: 18px;
    padding-right: 114px;
    max-width: 300px;
    width: 100%;
    border: 1px solid $silver-600;
    border-radius: 6px 6px 0 0;
    text-align: left;
    position: relative;
    color: $dark-900;
    // margin-top: 30px; 
    
    &--disabled {
      margin-bottom: 30px;
      border-radius: 6px;
    }

    &::after {
      content: url(../images/icons/catalog-arrow.svg);
      position: absolute;
      right: 24px;
      top: 16px;
      transition: transform 0.5s;
    }

    &--disabled::after {
      transform: rotate(180deg);
      top: 21px;
    } 
  }

  &__list {
    padding: 18px;
    font-size: 18px;
    color: $dark-500;
    max-width: 300px;
    width: 100%;
    border: 1px solid $silver-600;
    border-radius: 0 0 6px 6px;
    margin-bottom: 30px;
    border-top: none;

    &--disabled {
      display: none;
    }    

    &--categories {
      overflow-y: scroll;
    }

    &--name,
    &--number {
      position: absolute;
      z-index: 99;
      background-color: $white;
      padding: 15px 13px 15px 9px;
      // width: 100%;
      font-size: 14px;
      top: 47px;
      display: none;
    }

    &--active {
      display: block;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    input[type="checkbox"] {
      width: 24px;
      height: 24px;
      margin-right: 12px;

      &:hover {
        border-color: $dark-900;
      }

      &:checked {
        background-color: $white;
      }
    }
  }

  .price {

    &__form {
      max-width: 300px;
      width: 100%;
      border: 1px solid $silver-600;
      border-top: none;
      padding: 23px 18px;
      border-radius: 0 0 6px 6px;
    }

    &__inner {
      display: flex;
      // justify-content: space-around;
      align-items: center;
      justify-content: center;
      // margin-bottom: 24px;
      // padding: 0 19px;
    }

    &__text {
      color: $silver-600;
      font-size: 16px;

      &--center {
        margin-right: 24px;
      }
    }

    &__input {
      max-width: 80px;
      width: 100%;
      height: 40px;
      border: 1px solid $silver-600;
      border-radius: 3px;
      background-color: $silver-100;
      color: $dark-500;
      font-size: 16px;
      text-align: center; 
      margin-right: 6px;
      margin-left: 6px;  
      
      &:focus {
        box-shadow: 0px 0px 0px 3px #E0EDCF;
        outline: transparent;
      }
    }
  }

  .irs {
    // height: 18px;
    &-min,
    &-max,
    &-from,
    &-to {
      display: none;
    }

    &-handle {
      background-color: $green-900;
      border: none;
      width: 18px;
      height: 18px;
      top: 28px;
    }

    &-bar {
      background-color: $green-900;
      height: 2px;
    }

    &-line {
      height: 2px;
    }
  }

}

.goods {
  flex-grow: 1;

  &__filters {
    margin-bottom: 63px;
    display: flex;
    justify-content: end;
  }

  &__filter {
    border: 1px solid $silver-600;
    border-radius: 3px;
    padding: 16px 45px 15px 11px;
    text-align: left;
    position: relative;
    line-height: 1;
    margin-right: 15px;

    &::after {
      content: url(../images/icons/crumb-arrow.svg);
      position: absolute;
      right: 15px;

      transform: rotate(90deg);
    }

    

    &--open {
      // display: flex;
      justify-content: center;
      align-items: center;
      border:none;
      padding: 6px;
      background-color: $silver-100;
      background-image: url(../images/icons/filters-open.svg);
      background-repeat: no-repeat;
      width: 47px;
      height: 47px;
      background-position: center;
      display: none;

      &::after {
        display: none;
      }
    }

    &--list {
      display: flex;
      justify-content: center;
      align-items: center;
      border:none;
      padding: 6px;
      background-color: $silver-100;

      &::after {
        display: none;
      }
    }

    &--column {
      display: flex;
      justify-content: center;
      align-items: center;
      border:none;
      padding: 6px;
      background-color: $silver-100;

      path {
        fill: $silver-600;
      }

      &::after {
        display: none;
      }
    }

    &--fill {

      path {
        fill: $green-900;
      }
    }

    &--active {
      border-radius: 3px 3px 0 0;
      border-color: $dark-500;

      &::after {
        transform: rotate(270deg);
      }
    }

    &--name,
    &--number {
      margin: 0;
      // height: 47px;
      // position: relative;

      &:focus {
        box-shadow: 0px 0px 0px 3px #E0EDCF;
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__numbers {
    display: flex;
  }
  
  &__more {
    padding: 12px 24px;
    border-radius: 6px;
    transition: background-color .5s, opacity 0.5s, box-shadow 0.5s;
    color: $white;
    background-color: $green-900;

    &:hover {
      background-color: $btn-hover;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      outline: transparent;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba($white, 0.5);
      background-color: $green-900;
      opacity: 1;
    }
  }

  &__item {
    width: 48px;
    height: 48px;
    background-color: $silver-100;
    border-radius: 3px;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    border: 1px solid transparent;
    transition: border-color 0.5s;

    &--first {
      background-image: url(../images/icons/catalog-arrow.svg);
      background-repeat: no-repeat;
      background-position: center center;
      transform: rotate(-90deg);
    }

    &--last {
      background-image: url(../images/icons/catalog-arrow.svg);
      background-repeat: no-repeat;
      background-position: center center;
      transform: rotate(90deg);
    }

    &:active,
    &:hover {
      border-color: $silver-600;
    } 

    &--range {
      
      button {
        cursor: default;
      }

      &:active,
      &:hover {
        border-color: transparent;
      } 
    }

    &--active {
      border-color: $dark-500;
    }
  }

  &__number {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name,
  &__numbers {
    margin-right: 15px;
    position: relative;
    width: fit-content;
  }
}

.product {
  padding-top: 48px;
  padding-bottom: 63px;

  &__slider {
    max-width: 630px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $silver-600;
    border-radius: 6px;
    margin-right: 30px;
  }

  &__image {
    max-width: 630px;
    width: 100%;
    cursor: pointer;

    img {
      display: block;
      margin: 0 auto;
      padding: 69px 0;
    }    
  }

  &__wrapper {
    display: flex;
  }

  &__title {
    font-family: 'Ruda';
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    color: $dark-900;
    margin-bottom: 18px;
    display: block;

    &--delivery {
      font-size: 18px;
      padding-bottom: 18px;
      border-bottom: 1px solid $silver-600;
    }
  }

  &__demand {
    padding: 6px 9px;
    border-radius: 6px;
    text-transform: uppercase;
    color: $white;
    font-weight: 700;
    font-size: 16px;
    display: block;
    width: fit-content;
    margin-bottom: 18px;

    &--hit {
      background-color: $orange-900;
    }

    &--new {
      background-color: $green-900;
    }

    &--sale {
      background-color: $red-900;
    }
  }

  &__inner {
    display: flex;
    align-items: center;

    &--code {
      margin-bottom: 33px;
    }

    &--price {
      align-items: flex-end;
      margin-bottom: 59px;
    }

    &--count {
      margin-bottom: 32px;
    }
  }

  &__code {
    padding: 4px 5px;
    color: $silver-600;
    background-color: $silver-100;
    border-radius: 3px;
    margin-right: 12px;
  }

  &__avilable {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    margin-left: auto;

    &--yes {
      color: $green-900;
    }

    &--ending {
      color: $red-900;
    }

    &--no {
      color: $silver-600;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    color: $green-900;

    &--old {
      color: $silver-600;
      font-size: 20px;
      margin-right: 18px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        border-bottom: 1px solid $silver-600;
        height: 1px;
        width: 100%;
        transform:rotate(-12deg);
        top: 9px;
      }
    }
  }

  &__count {
    width: 44px;
    height: 44px;
    background-color: $green-900;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.5s, box-shadow 0.5s, opacity 0.5s;

    &--minus {
      background-image: url(../images/icons/product-minus.svg);
      border-radius: 3px 0 0 3px;
    }

    &--plus {
      background-image: url(../images/icons/product-plus.svg);
      border-radius: 0 3px 3px 0;
      margin-right: 18px;
    }

    &:hover {
      background-color: $btn-hover;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      outline: transparent;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba($white, 0.5);
      background-color: $green-900;
    }
  }

  &__quantity {
    height: 44px;
    padding: 0 17px;
    display: flex;
    align-items: center;
    background-color: $green-200;
    font-size: 20px;
    line-height: 1;
  }

  &__add {
    padding: 13px 12px 12px 49px;
    text-transform: uppercase;
    color: $white;
    background-color: $green-900;
    border-radius: 3px;
    position: relative;
    transition: background-color 0.5s, box-shadow 0.5s, opacity 0.5s;

    &::before {
      content: '';
      background-image: url(../images/icons/cart.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 24px;
      height: 24px;
      position: absolute;
      left: 12px;
      top: 10px;
    }

    &:hover {
      background-color: $btn-hover;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      outline: transparent;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba($white, 0.5);
      background-color: $green-900;
    }
  }

  &__favorite {
    margin-left: auto;

    path {
      transition: fill 0.5s;
    }

    &:hover {

      path {
        fill: $yellow-900;
      }
    }
  }

  &__delivery {
    line-height: 1.6;
    margin-bottom: 18px;
  }

  &__more {
    color: $green-900;
    line-height: 1.2;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }

  &__rating {
    z-index: 1;
  }

  
}

.info {
  border-top: 1px solid $silver-600;
  padding-bottom: 82px;

  &__wrapper {
    max-width: 720px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 48px;
  }

  &__filter {
    padding-top: 16px;
    border-top: 3px solid transparent;
    font-size: 18px;
    color: $dark-900;
    text-transform: uppercase;
    font-family: 'Ruda';
    font-weight: 600;
  }

  .description {
    &__text {
      font-size: 16px;

      span {
        display: block;

        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
    }
  }

  .mixitup-control-active {
    color: $green-900;
    border-color: $green-900;
  }

  .parameters {

    &__text {
      font-size: 16px;
      line-height: 1.6;
      font-weight: 700;
      margin-bottom: 10px;

      span {
        font-weight: 400;
      }
    }
  }

  .feedback {

    &__title {
      font-family: 'Ruda';
      font-weight: 600;
      font-size: 18px;
      line-height: 1;
      margin-bottom: 48px;
      text-transform: uppercase;
    }

    &__item {
      padding: 24px 0;

      &:not(:last-child) {
        border-bottom: 1px solid $silver-600;
      }

      img {
        border-radius: 50%;
        margin-right: 24px;
      }
    }

    &__inner {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
    }

    &__name {
      display: flex;
      flex-direction: column;
      font-weight: 700;
      color: $dark-900;

      span {
        font-weight: 400;
        color: $dark-500;
      }
    }

    &__rating {
      margin-left: auto;

      &--your {
        margin-left: 18px;
      }
    }

    &__text {
      line-height: 1.6;
      font-size: 16px;
    }

    &__form {
      display: grid;
      grid-template-columns: 400px 260px;
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 30px;
      margin-bottom: 24px;

      label {
        margin-bottom: 12px;
        color: $dark-900;
        font-size: 16px;
      }

      textarea {
        resize: none;
        border: 1px solid $silver-600;
        border-radius: 6px;
        padding: 18px;
        flex-grow: 1;
      }

      input {
        border: 1px solid $silver-600;
        border-radius: 6px;
        padding: 18px;
      }
    }

    &__input {
      margin-bottom: 24px;
    }

    &__textarea {
      display: flex;
      flex-direction: column;   
    }

    &__user {
      display: flex;
      flex-direction: column;
    }    
    
    &__rate {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      font-size: 16px;
      color: $dark-900;
    }

    &__save {
      margin-bottom: 24px;
    }

    &__submit {
      padding: 12px 24px;
      border-radius: 6px;
      transition: background-color .5s, opacity 0.5s, box-shadow 0.5s;
      color: $white;
      background-color: $green-900;
  
      &:hover {
        background-color: $btn-hover;
      }
  
      &:focus {
        box-shadow: 0 0 0 3px $green-200;
        outline: transparent;
      }
  
      &:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: rgba($white, 0.5);
        background-color: $green-900;
        opacity: 1;
      }
    }
  }
}

.more {
  padding-bottom: 46px;

  &__title {
    margin-bottom: 48px;
  }
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 54px 96px;
  width: 100%;
  height: 100%;
  // background-color: rgba(#000000, 0.15);
  background-color: $silver-600;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  &--active {
    display: block;
    // z-index: 100;
  }

  .slick-dots {
    bottom: 98px;
  }

  &__close {
    width: 32px;
    height: 32px;
    background-image: url(../images/icons/close.svg);
    position: absolute;
    z-index: 101;
    background-repeat: no-repeat;
    background-size: cover;
    right: 6%;
    top: 7%;
  }

  path {
    transition: fill 0.5s;
  }

  img {
    // width: 50%;
    // height: 50%;
    // display: block;
    margin: auto auto;
    // margin-top: 404px;
    margin-top: 25%;
    // padding: auto 0;
  }

  &__slider {
    width: 100%;
    height: 100%;
    // display: flex;
    // align-items: center;
  }

  &__image {
    width: 100%;
    height: calc(100vh - 110px);
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      margin: 0 auto;
      margin-top: 15%;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    position: absolute;
    background-color: rgba($white, 0.8);
    border-radius: 6px;
    // border: 1px solid $silver-600;
    background-repeat: no-repeat;
    background-position: center center;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s, background-color 0.5s;
    z-index: 101;
    transform: translateY(-50%);

    &--next {
      right: 60px;
    }

    &--prev {
      transform: rotate(180deg);
      left: 60px
    }

    &:hover {
      background-color: $green-200;
    }

    &:hover path,
    &:active path {
      fill: $green-900;
    }

    &:focus {
      outline: transparent;
      box-shadow: 0 0 0 3px rgba($green-900, 0.5);
    }
  }

}

@import 'media';